extends menu

include ../mixin/form/renderInputField.pug
include ../mixin/form/renderCheckboxField.pug

block content
    .row
        .col-sm-12
            form.mt-5.mr-5(method='POST' action='' form='settingsprjForm')
                for sectionFields,section in config
                    if section === config_name 
                        div.card.container-fluid.mt-5
                        .card-header=section
                        for value,field in sectionFields
                            .form-row
                                .form-group.col-sm
                                    if typeof(value) === 'boolean'
                                        +renderCheckboxField(section+"|"+field,field,value,errors)
                                    else 
                                        if typeof(value) === 'object' 
                                            - value = JSON.stringify(value)
                                        +renderInputField("text",section+"|"+field,field,value,errors)(required)
                            
                .form-row.mt-5
                    button.btn.btn-backend.ml-4(type='submit'  onclick="return confirm('Are you sure to modify the config ' + config_name + '?')") Save