extends config

include ../mixin/form/renderInputField.pug
include ../mixin/form/renderCheckboxField.pug

block content
    .row
        .col-sm-12
            button.btn.btn-backend.ml-4(type='submit'  onclick="return confirm('If you update the configuration the servers will be reloaded. Are you sure ?')") Recalc Measurement last week