extends ../layout

block sub-header
  header(role="navigation" class="subheader navbar navbar-expand-lg navbar-dark")
    div.collapse.navbar-collapse(id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item")
            a(class="nav-link", href="/config/user") Users
        li(class="nav-item")
            a(class="nav-link", href="/config/settings") Settings
        li(class="nav-item")
            a(class="nav-link", href="/config/cmd") CMD            
