extends ../layout

block sub-header
  header(role="navigation" class="subheader navbar navbar-expand-lg navbar-dark")
    div.collapse.navbar-collapse(id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
          if type === "creditor"
            li(class="nav-item")
              a(class="nav-link", href="/instructions/list/?type=creditor&id=" + idCompany) Listado de Ingresos
          else
            li(class="nav-item")
              a(class="nav-link", href="/instructions/list/?type=debtor&id=" + idCompany) Listado de Egresos
            li(class="nav-item")
              a(class="nav-link", href="/instructions/nominapagos/?type=debtor&id=" + idCompany) Procesos de Pagos
            li(class="nav-item")
              a(class="nav-link", href="/instructions/notificapagos/?type=debtor&id=" + idCompany) Notifica de Pagos