doctype html
html(lang="es")
  head
    title Mercatus Dev Tools

    
      
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    link(rel='stylesheet', href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    //link(rel='stylesheet', href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
    //link(rel='stylesheet', href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css")
      
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.4.1/css/all.css", integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz",crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css

    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(charset="utf-8")
    meta(name="description", content="FacTool")
    meta(name="keywords",content="facturacion, be, building energy, chile, cen")

  body.backend

    block header
      header(role="navigation" class="navbar navbar-expand-lg navbar-dark")
        a(href="/",class="navbar-brand")
          img(src="/img/logo-be.png",height="80")

        button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div.collapse.navbar-collapse(id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            li(class="nav-item active")
              a(class="nav-link",href="/") Partecipantes
            li(class="nav-item active")
              a(class="nav-link",href="/instructions/list/?type=creditor&id=" + idCompany) Control de Ingresos
            li(class="nav-item active")
              a(class="nav-link",href="/instructions/list/?type=debtor&id=" + idCompany) Control de Egresos
           
            




          ul(class="navbar-nav ml-auto")
            li(class="nav-item")
              select#idCompany
                option 339
                option 340

            li(class="nav-item")
              if currentUser.roles >= 2
                a.nav-link(href="/config",data-toggle="tooltip",data-placement="top",title="Settings")
                  img(src="/img/settings.png")
            li(class="nav-item dropdown")
              a.nav-link(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                img(src="/img/user.png")
                if currentUser && currentUser.id
                  .dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="/config/user/edit/"+currentUser.id,data-toggle="tooltip",data-placement="top",title="Profile") Profile
                    .dropdown-divider
                    a.dropdown-item(href="/logout",data-toggle="tooltip",data-placement="top",title="Logout") Logout

    block sub-header
      header(role="navigation" class="subheader navbar navbar-expand-lg navbar-dark")
        div.collapse.navbar-collapse(id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link", href="#") &nbsp

    main.container-fluid
      if error_messages.length>0
        .alert.alert-danger.text-center !{error_messages}
      if success_messages.length>0
        .alert.alert-success.text-center !{success_messages}
      block content

    block footer
      footer.footer.bg
        .container
          .row
            .col-md-3.mr-auto
                span.footer-heading
                  a(href="https://buildingenergy.it/",target="_blank") about
            .col-md-3.ml-auto
                span.footer-heading.d-flex Powered By 
                  a.ml-4(href="http://wemworld.it/", target="_blank")
                    img.footer-logo(src="/img/logo-wem.png")

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49",crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js",integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy",crossorigin="anonymous")
      script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
      script(src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js")
      script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
      Script(src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
      //script(src="https://use.fontawesome.com/51acfa0660.js")
      script(src="/javascripts/main.js")