doctype html
html(lang="en")
  head
    title FaChile
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    link(rel='stylesheet', href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ",crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(charset="utf-8")
    meta(name="description", content="Building Energy FaChile")
    meta(name="keywords",content="FaChile, building energy, tools, be")

  body.backend

    header(role="navigation" class="navbar navbar-expand-lg navbar-dark position-absolute w-100")
        a(href="/",class="navbar-brand")
            img(src="/img/logo-hmore.png",height="80")

    .container.h-100
        .row.h-100.justify-content-center.align-items-center
            
            .card.col-sm-4#signin
                .card-header.card-heading-dark.text-center FaChile
                if flashMsg && flashMsg.length
                    .text-danger.text-center.mt-2=flashMsg
                    - errorClass='is-invalid'
                else
                    - errorClass=''  
                - classes=`form-control mt-3 ${errorClass}`
                form.form-signin(method='POST' action='' form='signinForm')
                    input#inputEmail(class=classes placeholder='Email address' reqired autofocus type='email' name='username')
                    input#inputPassword(class=classes placeholder='Password' reqired type='password' name='password')
                    #remember.checkbox.mt-3
                        label(for="remember-checkbox")
                            input#remember-checkbox(type='checkbox')
                            | Remember me
                    button.btn.btn-large.btn-backend.btn-block.btn-signin(type='submit') Sign In

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49",crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js",integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy",crossorigin="anonymous")

