extends menu.pug

block append scripts
  script(src="/javascripts/list.js")

block content

    .col-sm#listcompany-container
        table.table.table-hover.mt-5(data-title='PARTECIPANTES')
            thead
                tr
                    th.id ID
                    th Name
                    th.rut RUT
                    th.verification_code Verification_Code
                    th Business Name
                    th Commercial Business
                    th Commercial Address
                    th Created at
                    th Updated at