extends ../layout

block append scripts
  script(src="/javascripts/project_status.js")

block sub-header
  header(role="navigation" class="subheader navbar navbar-expand-lg navbar-dark")
    div.collapse.navbar-collapse(id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item")
          a(class="nav-link", href="/projects/active") Active Projects
        li(class="nav-item")
          a(class="nav-link", href="/projects/all") All Projects

block content

  .row.load-partial(data-url='/projects/dev/status' data-reload='5000')
    include _devStatus.pug
  
    
  .row
    if currentUser.roles >= 1 
      a(class="btn btn-backend m-3" href="/projects/edit" ) + New Project
  
  .row
    .col-sm#listprjact-container
      table.table.table-hover.mt-5(data-title='ACTIVE PROJECTS LIST')
        thead
            tr
              th.id ID
              th Project Name
              th OpeningDate
              th.prj-Status Status
